/* Global */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

body {
  padding-top: 100px;
}

/* Navbar */
.black-navbar {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  margin: 16px auto;
  max-width: 1200px;
  height: 70px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}






.budget-page {
  min-height: calc(100vh - 56px);
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.budget-card {
  width: 800px;
  background:  linear-gradient(135deg, #667eea, #764ba2);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.budget-header {
  background: #0d6efd;
  color:  linear-gradient(135deg, #667eea, #764ba2);
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
}



/* Mobile */
@media (max-width: 768px) {
  .dashboard-section {
    margin: 0 10px;
  }
}
