/* Page Background */
.login-page {
  min-height: 80vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

/* Glass Container */
.glass-container {
  width: 100%;
  max-width: 380px;  /* Change this value to resize */
  padding: 40px 32px;
  border-radius: var(--radius);
  background: hsl(var(--glass-bg));
  backdrop-filter: blur(18px);
  box-shadow: 0 12px 35px hsl(var(--glass-shadow));
  border: 1px solid hsl(var(--glass-border));
  margin-top: -250px;
}





/* Heading */
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Input box */
.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 12px 8px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 14px;
  outline: none;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -8px;
  font-size: 12px;
  color: #fff;
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.top-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Footer text */
p {
  text-align: center;
  margin-top: 18px;
  font-size: 13px;
}

p a {
  color: #a5b4fc;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
